@mixin card($color) {
  .card-#{$color} {
    &:hover { @include pulsate(); }
    &:active { @include bounce(); }
  background-image: url('../img/#{$color}.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20em;
  width: 100%;
  @include whitetext-rule(#{$color});
  @include longname-rule(#{$color});
  @include column-trick;
  @include card-spacer(1);
    position: relative;
  }

  .card-#{$color}::after {
    position: absolute;
  opacity: 0.55;
  background-color: #{$color};
  content: "~#{$color}";

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  @include overlay-edge-rounder;
  }
}

@mixin overlay-edge-rounder { border-radius: 0.5em; }
@mixin card-spacer($ratio) {
  border-radius: 0.5em*($ratio);
  margin-top: 0.2em*($ratio);
}

@mixin tinycarder {
  font-size: 0.5em;
  @include card-spacer(6);
}
@mixin longname-rule($color) {
  @if ($color == "greenyellow" or $color == "mediumslateblue" or $color == "cornflowerblue") {
    @include tinycarder;
  }
}

@mixin deal-sass_cards {
  // automatic population of dozen divs
  @each $color in $collist {
    @include card($color);
  }
}
