@mixin card() {
@include card-sizing;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 14em;
  width: 100%;
  min-height: 15vh;
  max-height: 35vh;
  border: 4px dotted #cde;
}

$Fishes: ('Albacore', 'Anchovy', 'Bream', 'Bullhead', 'Carp', 'Catfish', 'Chub', 'Dorado', 'Eel', 'Ghostfish', 'Halibut', 'Herring', 'Ice_Pip', 'Largemouth_Bass', 'Lava_Eel', 'Lingcod', 'Octopus', 'Perch', 'Pike', 'Pufferfish', 'Rainbow_Trout', 'Red_Mullet', 'Red_Snapper', 'Salmon', 'Sandfish', 'Sardine', 'Scorpion_Carp', 'Sea_Cucumber', 'Shad', 'Slimejack', 'Smallmouth_Bass', 'Squid', 'Stonefish', 'Sturgeon', 'Sunfish', 'Super_Cucumber', 'Tiger_Trout', 'Tilapia', 'Tuna', 'Void_Salmon', 'Walleye', 'Woodskip');

@mixin fish($fish) {
  .card-#{$fish} {
    @include card;
    background-image: url(unquote('../img/#{$fish}.png'));
    display: flex;
    position: relative;
  }
  .card-#{$fish}::after {
    position: absolute;
    align-self: baseline;
    content: "#{$fish}";
  }
}

@mixin dealfish {
  @each $fish in $Fishes {
    @include fish($fish);
  }
}
