@import "bourbon/bourbon";
@import "neat/neat-helpers";
@import "neat/neat";

// layout
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
.flexboxed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards {
  @extend .flexboxed;
  width: 100%;
  @include background-image(linear-gradient(to bottom, maroon, beige));
}
// responsive
@mixin card-sizing {
  @include media($mobile) {
    width: 50vw;
    // @include span-columns(6 of 12);
  }
  @include media($tablet) {
    width: 33vw;
    // @include span-columns(4 of 12);
  }
  @include media($laptop) {
    width: 25vw;
    // @include span-columns(3 of 12);
  }
  @include media($desktop) {
    width: 20vw;
    // @include span-columns(2 of 12);
  }
}

// @include media(queries)
$mobile: new-breakpoint(min-width 1px and max-width 600px);
$tablet: new-breakpoint(min-width 600px);
$laptop: new-breakpoint(min-width 1024px);
$desktop: new-breakpoint(min-width 1280px);
