@import "bourbon/bourbon";

@media (max-width: 424px) {
  [class*='card-'] {
    width: 100%;
    max-height: 60vh;
    display: block;
  }
}
@media (max-width: 1023px) {
  [class*='card-'] {
    width: 37%;
    max-height: 40vh;
    display: inline;
  }
}
@media (max-width: 4000px) {
  [class*='card-'] {
    width: 22%;
    max-height: 30vh;
    display: inline;
  }
}
