@mixin edge-rounder {
  border-radius: 1em;
}
@mixin card-cutter {
  margin-left: 0.2em;
  // margin-right: 0.2em;
  margin-top: 0.1em;
  margin-bottom: 0.3em;
}

$collist: 'maroon', 'red', 'orange', 'gold', 'wheat', 'greenyellow','lime','green','teal','cornflowerblue','mediumslateblue', 'indigo';

@mixin white-caption {
  color: white;
}

@mixin deal-sass_cards {
  // automatic creation of dozen divs
  @each $color in $collist {

    .item-#{$color} {
      // bg img w animation from Saffron on interaction
      &:hover { @include enlarge(); }
      &:active { @include bounce(); }
    background-image: url('../img/#{$color}.jpg');
    background-position: center;
    background-size: 100vw;
    background-repeat: no-repeat;
    width: 100%;
    height: 40em;
    @include card-cutter;
    @include edge-rounder;
      position: relative;
  }

    // chromatic overlay & color name
    .item-#{$color}::after {
      position: absolute;
    opacity: 0.4;
    background-color: #{$color};
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    content: "~#{$color}";
    @include edge-rounder;
      @if #{$color} == ('maroon' or 'mediumslateblue' or 'indigo') {
        @include white-caption;
      }
    }
  }

}
