@import "variables";

@mixin text-glow($color) {
  text-shadow: 2px 2px 3px $color,
  2px -2px 3px $color,
  -2px 2px 3px $color,
  -2px -2px 3px $color
  ;
}
@mixin edge-rounder {
  border-radius: 0.5em;
}
@mixin card-cutter {
  margin-left: 0.1em;
  margin-top: 0.2em;
}

// $collist: 'maroon', 'red', 'orange', 'gold', 'wheat', 'greenyellow','lime','green','teal','cornflowerblue','mediumslateblue', 'indigo';

@mixin white-caption {
  color: white;
  @include text-glow(black);
}

@mixin deal-sass_cards {
  // automatic population of dozen divs
  @each $color in $collist {

    .card-#{$color} {
      // &:hover { @include enlarge(); }
      // &:active { @include bounce(); }
    background-image: url('../img/#{$color}.jpg');
    background-position: center;
    background-size: 100vw;
    background-repeat: no-repeat;
      @if ($color == "maroon" or $color == "mediumslateblue" or $color == "indigo") {
        @include white-caption;
      }
    width: 100%;
    height: 40em;
    // @include card-cutter;
    // @include edge-rounder;
      position: relative;
    }

    .card-#{$color}::after {
      position: absolute;
    opacity: 0.55;
    background-color: #{$color};
    content: "~#{$color}";

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    @include edge-rounder;
    }
  }

}
