@include media($Mobile) {
  body {
    background-color: #777;
  }
  .responsive {
      width: 500px;
      // flex-grow: 1;
      margin: auto;
      // width: 16.6vw;
      // max-width: 8.25%;
  }
}
