.header {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include radial-gradient(circle at 50% 100%, maroon, peachpuff, cornflowerblue);
  h2 {
    @include text-glow(tomato);
    padding: 2.5vw;
  }
}
// buttons
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @include text-glow(gold);
  padding: 1.5vw;
  div {
    display: inline-block;
  }
  div img {
    min-width: 10vw;
    &:hover { @include pulsate(); }
    &:active { @include bounce(); }
  }
}
.quad_btn > img {
  width: 2px;
}

.row2 {
  justify-content: space-between;
}
