$collist: 'rosybrown', 'chocolate', 'maroon',  'coral', 'orangered', 'gold', 'wheat', 'olive', 'greenyellow', 'lime', 'forestgreen', 'aquamarine', 'teal', 'cornflowerblue', 'mediumblue', 'midnightblue', 'indigo', 'blueviolet', 'thistle', 'honeydew';

$fishnames: 'salmon', 'catfish';
$fishpics: 'http://stardewvalleywiki.com/mediawiki/images/e/e0/Salmon.png', 'http://stardewvalleywiki.com/mediawiki/images/9/99/Catfish.png';
