@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "saffron/saffron";
// media queries
@import "Smobile";
@import "Lmobile";
@import "Tablet";
@import "Laptop";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
// base
body {
  font-family: "Luminari", fantasy, sans-serif;
  font-size: 2em;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.9),
  2px -2px 3px rgba(255,255,255,0.9),
  -2px 2px 3px rgba(255,255,255,0.9),
  -2px -2px 3px rgba(255,255,255,0.9),
  ;
}

// layout

.main {
    @include outer-container();
    background-color: #999;
}
.row {
  @include media($Smobile) {
    @include span-columns(12);
  }
  @include media($Lmobile) {
    @include span-columns(6);
  }
  @include media($Tablet) {
    @include span-columns(4);
  }
  @include media($Laptop) {
    @include span-columns(3);
  }
}

// modules

// begin Bourbon + Neat sorcery
// automatic creation of dozen divs
$collist: 'maroon', 'red', 'orange', 'gold', 'wheat', 'greenyellow','lime','green','teal','cornflowerblue','mediumslateblue', 'indigo';
@each $color in $collist {

  .item-#{$color} {
    // animation from Saffron on interaction
    &:hover { @include bounce(); }
    &:active { @include pulsate(); }
  background-image: url('../img/#{$color}.jpg');
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  height: 5em;
        position: relative;
  // width: auto;
  // max-width: 320px;
  @include span-columns(4);
  }

  // chromatic overlay & color name
  .item-#{$color}::after {
        position: absolute;
  background-color: #{$color};
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  content: "~#{$color}";
  color: black;
  // random vertical position for color name
  line-height: random(200) + 100 + px;
  }
}
