@import "bourbon/bourbon";
@import "saffron/saffron";
@import "variables";
@import "media-queries";
@import "mixins";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
// base
body {
  font-family: monospace, sans-serif;
  font-size: 3em;
  color: #000;
  @include text-glow(white);
}

// layout
.flexboxed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.outermost {
  @extend .flexboxed;
  h2 {
    @include text-glow(orange);
  }
}

.cards {
  @extend .flexboxed;
  width:100vw;
}

@include deal-sass_cards;
