@import "bourbon/bourbon";
@import "neat/neat";
@import "saffron/saffron";


*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}


body {
  font-family: "Luminari", fantasy, sans-serif;
  color: #eee;
  font-size: 2em;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.9),
  2px -2px 3px rgba(255,255,255,0.9),
  -2px 2px 3px rgba(255,255,255,0.9),
  -2px -2px 3px rgba(255,255,255,0.9),
  ;
}
// }
// @media screen and (max-width: 768px) {
//   body {
//     font-size: 3.5em;
// }
// begin Bourbon + Neat sorcery
.main {
    @include outer-container();
    background-color: #aaa;
}
.top-row {
    @include span-columns(12);
}
.mid-row {
    @include span-columns(12);
}
.end-row {
    @include span-columns(12);
}


// automatic creation of nine divs
$collist: 'maroon', 'red', 'orange', 'gold', 'wheat', 'greenyellow','lime','green','teal';
@each $color in $collist {
  .item-#{$color} {
  background-image: url('../img/#{$color}.jpg');
  background-position: center;
  background-size: auto;
  height: 200px;
        position: relative;
  @include span-columns(4 of 12);
  }
  .item-#{$color}::after {
        position: absolute;
        // @include flip();
  content: "#{$color}";
  color: #222;
  background-color: #{$color};
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 25%;
  z-index: 2;
  }
}
.item-wheat {
  position: relative;
}
.item-wheat p {
position: absolute;
color: blue;
top: 10%;
margin-left: 10%;
font-family: 'Luminari';
}
//end media queries

@media screen and (max-width: 768px) {
  body {
    font-size: 3em;
  }
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 4em;
  }
}
