@import "bourbon/bourbon";
@import "layout";
@import "mixins";
@import "neat/neat";
@import "saffron/saffron";
@import "title-and-nav";
@import "fish-cards";
@import "mine-cards";
@import "fight-cards";
@import "farm-cards";
@import "forage-cards";


// base
body {
  font-family: monospace, sans-serif;
  font-size: 1.5em;
  color: #000;
  @include text-glow(white);
}

// fill the HTML divs
@include dealfarm;
@include dealforage;
@include dealmine;
@include dealfish;
@include dealfight;
