@import "bourbon/bourbon";
@import "grid-settings";
@import "mixins";
@import "neat/neat";
@import "saffron/saffron";
@import "title-and-nav";
@import "farm-cards";
@import "forage-cards";
@import "fish-cards";
@import "mine-cards";
@import "fight-cards";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

// base
body {
  font-family: monospace, sans-serif;
  font-size: 1.5em;
  color: #000;
  @include text-glow(white);
}

// layout
.flexboxed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
$blend: beige;
.cards {
  @extend .flexboxed;
  width: 100%;
  @include background-image(linear-gradient(to bottom, maroon, beige));
}

// fill the HTML divs
@include dealfarm;
@include dealforage;
@include dealmine;
@include dealfish;
@include dealfight;
