/*
Error: Undefined variable: "$tablet".
        on line 7 of _mixins.scss, in `media'
        from line 7 of _mixins.scss, in `column-trick'
        from line 62 of _mixins.scss, in `deal-sass_cards'
        from line 48 of input.scss

2: @import "variables";
3: @import "grid-settings";
4: @import "mixins";
5: @import "neat/neat";
6: @import "saffron/saffron";
7: 
8: *,
9: *::before,
10: *::after {
11:   -webkit-box-sizing: border-box;
12:   -moz-box-sizing: border-box;

Backtrace:
_mixins.scss:7:in `media'
_mixins.scss:7:in `column-trick'
_mixins.scss:62:in `deal-sass_cards'
input.scss:48
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/script/tree/node.rb:58:in `perform'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:357:in `block (2 levels) in visit_mixin'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:357:in `map'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:357:in `block in visit_mixin'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:98:in `with_mixin'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:366:in `block (4 levels) in visit_mixin'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:366:in `map'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:366:in `block (3 levels) in visit_mixin'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:366:in `block (2 levels) in visit_mixin'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:361:in `block in visit_mixin'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:98:in `with_mixin'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `map'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:242:in `block (3 levels) in visit_each'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:242:in `map'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:242:in `block (2 levels) in visit_each'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:234:in `map'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:234:in `block in visit_each'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:233:in `visit_each'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:366:in `block (4 levels) in visit_mixin'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:366:in `map'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:366:in `block (3 levels) in visit_mixin'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:366:in `block (2 levels) in visit_mixin'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:361:in `block in visit_mixin'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:98:in `with_mixin'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/alexanderjacks/.gem/ruby/2.2.2/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$tablet\".\A         on line 7 of _mixins.scss, in `media'\A         from line 7 of _mixins.scss, in `column-trick'\A         from line 62 of _mixins.scss, in `deal-sass_cards'\A         from line 48 of input.scss\A \A 2: @import \"variables\";\A 3: @import \"grid-settings\";\A 4: @import \"mixins\";\A 5: @import \"neat/neat\";\A 6: @import \"saffron/saffron\";\A 7: \A 8: *,\A 9: *::before,\A 10: *::after {\A 11:   -webkit-box-sizing: border-box;\A 12:   -moz-box-sizing: border-box;"; }
